<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" style="font-size: 24px; margin-left: 20px;" >All Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tasks-admin</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<!-- Tab menu at the bottom -->
<ion-footer>
  <ion-toolbar>
<ion-tabs >
  <ion-tab-bar slot="bottom" slot="fixed">
    <ion-tab-button (click)="goToTasksAdmin()" tab="tasks">
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="goToAdminHomepage()" tab="admin-homepage">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="goToSettingsAdmin()" tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
</ion-footer>