
ion-title {
  color: black;
  font-size: 24px;
  margin-left: 20px;
}

ion-searchbar {
  --placeholder-color: #333;
  padding: 10px;
}

ion-card {
  max-width: 80%;
  margin: 20px auto;
}

ion-card-title {
  text-align: center;
  color: black;
  padding: 30px;
}

ion-col {
  border: 1px solid #ccc;
  text-align: center;
  --ion-text-wrap: normal; 
}

.addUser-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: x-large;
}

.header-col {
  color: black;
}

.data-col {
  border: 1px solid #ccc;
  text-align: center;
}

.data-col-mobile {
  text-align: center;
}
ion-tab-bar {
  --background: #ffffff; 
  --color-selected: #488aff;
  --color: grey; 
  --mode: ios;
  padding-top: 5px;
  border-top: 1px solid #e0e0e0;
}