<ion-header>
  <ion-toolbar>
    <ion-title>
      Your Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Your Users
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Dodanie ion-searchbar -->
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterUsers($event)"></ion-searchbar>
      <ion-grid>
        <!-- Nagłówki tabeli -->
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="3">
            <strong>Imię</strong>
          </ion-col>
          <ion-col size="3">
            <strong>Nazwisko</strong>
          </ion-col>
          <ion-col size="5">
            <strong>Email</strong>
          </ion-col>
        </ion-row>
        <!-- Wiersze z danymi użytkowników -->
        <ion-row *ngFor="let user of filteredUsers; let i = index">
          <ion-col size="1" class="data-col">
            {{ i + 1 }}
          </ion-col>
          <ion-col size="3" class="data-col">
            {{ user.firstName }}
          </ion-col>
          <ion-col size="3" class="data-col">
            {{ user.lastName }}
          </ion-col>
          <ion-col size="5" class="data-col">
            {{ user.email }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
