
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
    
    <ion-title >Create a new user</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="register()" >Confirm</ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-item>
    <ion-input placeholder="Name"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input placeholder="Last name"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input placeholder="Password"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input placeholder="Confirm password"></ion-input>
  </ion-item>



  
</ion-content>

