<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Current Password</ion-label>
    <ion-input type="password" [(ngModel)]="currentPassword"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">New Password</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Confirm New Password</ion-label>
    <ion-input type="password" [(ngModel)]="confirmNewPassword"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="changePassword()">Change Password</ion-button>
</ion-content>
