<ion-toolbar>
  <ion-button (click)="cancel()">
    <ion-icon name="chevron-back-outline"></ion-icon>

  </ion-button>
</ion-toolbar>

<ion-content class="ion-padding">
  <ion-item >
    <ion-label>
      <h2>Title</h2>
      <p>{{ project?.projectName }}</p>
    </ion-label>
  </ion-item>



  <ion-item>
    <ion-label>
      <h2>Description</h2>
      <p>{{ project?.description }}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Deadline</h2>
      <p>{{ project?.deadline | date: 'yyyy-MM-dd' }}</p> 
      <p> {{ daysUntilDeadline(project.deadline)  }} days left</p><!-- Date formatted -->
    </ion-label>
  </ion-item>

  <ion-list >
    <ion-list-header class="ion-padding-horizontal">
      <ion-label>
        <h2>Members</h2>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of users">
      <ion-label>
        {{ user.firstName }} {{ user.lastName }}
      </ion-label>
      <ion-button fill="clear" slot="end" >
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
    
</ion-content>
