.custom-label {
    font-weight: 600;
    display: inline-block;
    width: 30%; 
    text-align: left;
  }
  

  .avatar-centered {
    display: inline-block;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  