<ion-toolbar>
  <ion-buttons slot="start"> 
    <ion-button (click)="cancel()" color="primary">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Edit User</ion-title>
</ion-toolbar>


<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center style="height: 20vh;">
      <ion-col size="12" class="ion-text-center">
        <ion-avatar aria-hidden="true"class="avatar-centered">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label class="custom-label">
            First Name
          </ion-label>
          <ion-input [(ngModel)]="user.firstName" placeholder="Enter new first name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label class="custom-label">
            Last Name
          </ion-label>
          <ion-input [(ngModel)]="user.lastName" placeholder="Last Name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label class="custom-label">
            Email
          </ion-label>
          <ion-input [(ngModel)]="user.email" type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label class="custom-label">
            Role
          </ion-label>
          <ion-select [(ngModel)]="user.role" placeholder="Select Role"  interface="popover">
            <ion-select-option value="admin">Admin</ion-select-option>
            <ion-select-option value="user">User</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Save button -->
  <div class="ion-padding">
    <ion-button expand="block" color="primary" (click)="saveButton()">Save Changes</ion-button>
  </div>
</ion-content>