body {
    margin: 0;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Ustaw wysokość na 100% widoku */
}

ion-content {
    width: 100%;
    height: 100%;
    --background: url('../../../assets/svg/blobniebieski.svg') no-repeat center center / cover;
}
