<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    
    <ion-title >Add your team</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-loading" (click)="confirm()" >Confirm</ion-button>
      <ion-loading mode="ios" class="custom-loading" trigger="open-loading" message="Creating a new project..." duration="2000"></ion-loading>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-item>
    <ion-input placeholder="Enter project name" [(ngModel)]="newProject.projectName"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input placeholder="Enter project description" [(ngModel)]="newProject.description"></ion-input>
  </ion-item>

  
  <!--date picker-->
  <div class="datetime-button-container,ion-margin-top">
    <ion-datetime [(ngModel)]="newProject.deadline" presentation="date"></ion-datetime>
  </div>

          


<ion-list [inset]="true">
  <ion-item [button]="true" [detail]="false" id="select-members">
    <ion-label>Select project members</ion-label>
    <div slot="end" id="selected-members">{{ selectedMembersText }}</div>
  </ion-item>
</ion-list>

<!--modal dodający userów do projektu-->
<ion-modal #memberModal  trigger="select-members" >
<ng-template>
  <app-typeahead
    class="ion-page"
    title="Select members"
    [items]="members"
    [selectedItems]="selectedMembers"
    (selectionChange)="memberSelectionChanged($event)"
    (selectionCancel)="memberModal.dismiss()"
  ></app-typeahead>
</ng-template>
</ion-modal>

