<ion-content [fullscreen]="true">
  <ion-refresher
    mode="ios"
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <div id="container" class="ion-margin-top">
      <strong>What's up, {{username}}</strong>
      <span class="sub-header">Your projects</span>
    </div>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openRegisterUserModal()" aria-label="Add User">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

<div>
  <div class="swiper-container">

    <swiper [config]="sliderConfig">
      <ng-template swiperSlide *ngFor="let project of projects" class="swiper-slide">
        <ion-card class="projects">
          <div class="card-container">
            <div class="projects-buttons bussiness">
              <ion-card-content >
                <span class="task-count">
                  {{ daysUntilDeadline(project.deadline) }} days left
                </span>
                <ion-card-title>
                  <span class="projects-name">{{ project.projectName }}</span>
                </ion-card-title>
              </ion-card-content>
              <div class="progress-container">
                <ion-progress-bar mode="ios" [value]="0.7"></ion-progress-bar>
                <ion-button class="corner-button" fill="clear" (click)="openProjectDetailsModal(project.id)">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                  <span>See details</span>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-card>
      </ng-template>
  </swiper>
  </div>
  <ion-grid class="buttons">
    <ion-col size="12">
      <ion-button class="seeAll-button center" (click)="goToTasksPage()" shape="round">See all projects</ion-button>
    </ion-col>
  </ion-grid>
</div>
  
  

  

  <!-- Floating Action Button (FAB) -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="buttons">
          <div class="fab-container center">
            <ion-fab-button vertical="bottom" horizontal="center" mode="ios" (click)="openAddProjectModal()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <div class="text-below-fab">
              Add your project!
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="buttons">
          <div class="fab-container center">
            <ion-fab-button vertical="bottom" horizontal="center" mode="ios" (click)="openRegisterUserModal()">
              <ion-icon name="person-add-outline"></ion-icon>
            </ion-fab-button>
            <div class="text-below-fab">
              Add new user!
            </div>
          </div>
        </div>
        <!-- <div class="buttons">
          <div class="AddUser center">
            <ion-buttons slot="end" class="fab-container">
              <ion-button (click)="openRegisterUserModal()" aria-label="Add User">
                <ion-icon name="person-add-outline"></ion-icon>
              </ion-button>
              <div class="text-below-fab">Add new user!</div>
            </ion-buttons>
          </div>
        </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToTasksAdmin()" tab="tasks">
          <ion-icon name="hourglass-outline"></ion-icon>
          <ion-label>Projects</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToAdminHomepage()" tab="admin-homepage">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToSettingsAdmin()" tab="settings">
          <ion-icon name="settings"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
