

ion-toolbar {
    --background: var(--ion-background-color, --td-bg);
   
  
    ion-icon,
    i {
      font-weight: lighter;
      color: var(--ion-secondary-text-color);
      font-size: 1.66rem;
    }
  

  }
  
  ion-content {
    --background: var(--ion-background-color, --td-bg);
  }

  

  #container {
    padding: 1.5rem 0rem;
    padding-top: 1.5vh;
  
    strong {
      font-size: xx-large;
      padding-left: 1.2rem;
      letter-spacing: 0.5px;
    }
  }
  
  .sub-header,
  .todays-header {
    text-transform: uppercase;
    display: block;
    margin-left: 1.2rem;
    margin-top: 4vh;
    font-size: medium;
    letter-spacing: 0.5px;
    color: var(--ion-secondary-text-color);
  }
  .button-text{
    color: var(--ion-secondary-text-color);
    text-decoration: underline;
    letter-spacing: 0.5px;
    
  }
  
  .todays-header {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }


  ion-tab-bar {
    --background: #ffffff;  
    --color-selected: #488aff; 
    --color: grey;  
    --mode: ios;
    padding-top: 5px;
    border-top: 1px solid #e0e0e0;
   
}




.fab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  flex-direction: column;
}

.text-below-fab {
  text-align: center; 
  padding: 10px 0; 
  text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--ion-secondary-text-color);
}

  
  
.projects {
  &-name {
    color: #243158;
    font-size: large;
    font-weight: 600;
  }

  &-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.8rem 1rem;
    padding-bottom: 1.1rem;
    margin: 1rem;
    margin-bottom: 1.4rem;
    margin-right: 0;
    border-radius: 1.4rem;
    font-size: larger;
    color: var(--ion-color-secondary-contrast);
    background-color: var(--ion-card-background);
    text-align: left;
    

    ion-icon,
    .bx-envelope {
      font-size: xx-large;
    }

    ion-progress-bar {
      margin-top: 0.6rem;
      --background: var(--ion-progressbar);
    }

    .task-count {
      color: var(--ion-secondary-text-color);
      font-size: small;
    }

    span {
      margin-bottom: 0.7rem;
    }
  }
}

.business {
  ion-progress-bar {
    --progress-background: var(--td-blue);
  }
}


.progress-container {
  display: flex;
  align-items: center;
  width: 100%; 
}

ion-progress-bar {
  flex-grow: 0; 
  width: 90%; 
  margin-right: 10px; 
}

.swiper-container {
  width: 70%;
  padding: 30px 0; 
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.no-projects-container {
  width: 30%; 
  max-width: 200px; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.add-project-button {
  width: 100%; 
}

.card-container {
  padding: 10px;
  width: 90%;
  display:block;
  padding-bottom: 10;
}
  
  ion-card {
      display: flex;
      flex-direction: column; 
      align-items: flex-start; 
      width: 100%; 
      margin: 0 auto; 
      border-radius: 20px; 
      justify-content: flex-start; 
    
    }

    @media (max-width: 600px) {

      .card-container[_ngcontent-ng-c3627282167] {
        padding: 15px;
        width: 90%;
        display:block;
        padding-bottom: 10;
      }
      .projects-buttons, ion-card-content {
        font-size: 8px; 
        padding: 4px; 
      }
    
      .task-count, ion-card-title {
        font-size: 10px; 
      }
    
      ion-progress-bar {
        height: 2px; 
        margin-top: 2px;
      }
    
      .swiper-container {
        width: 90%;
        padding: 30px 0; 
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }

    }
    





@media (min-width: 992px) {

  
  .button {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  .seeAll-button {
    margin-right: auto;
  }
  .buttons {
    display: flex; 
    justify-content: space-between;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  @media (max-width: 767px) {
    .center {
      flex-direction: column;
      align-items: center;
    }
  
}

.progress-container {
  width: 85VH; 
}

ion-progress-bar {
  width: 100%; 
  margin: 0; 
  padding: 0; 
}
}

#popover-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  font-size: x-large;
}

@media (max-width: 601px) {
  #add-buttons{
    display:none;
    
  }
  
}

.no-projects-text {
  color: #666; 
  font-size: 14px; 
  text-align: center; 
  margin-bottom: 10px; 
}

.add-project-button {
  --border-radius: 8px; 
  --width: 200px; 
  --height: 36px; 
  font-size: 12px;
}



ion-icon {
  vertical-align: middle; 
}

ion-list{
  background-color: var(--ion-background-color, --td-bg);
  border-width:none;
  position:relative;
  z-index:10;
}

.tasks-list {
  margin-top: 70px; 
}

ion-item {
  --ion-item-background: var(--ion-background-color, --td-bg);
  --ripple-color: transparent;
  --background-activated: transparent;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}

ion-checkbox {
  --border-radius: 5px;
  --border-color: gray;
  --border-width: 1px;
  position: relative;
  z-index: 2; 
}

ion-label {
  background-color: var(--ion-background-color, --td-bg);
  position: relative;
  z-index: 2; 
}



.container-item{
  display:flex;
  flex-direction: row;
  position:relative;
}
.swiper-and-text-container{
  display:flex;
  flex-direction: row;
  position:relative;
}
.todays-tasks-header {
  margin-top: 280px; 
  margin-left:5px;
  position:absolute;
  white-space: nowrap;
  z-index: 2;
}

@media (max-width: 601px) {
  .todays-tasks-header {
    margin-top: 210px;  
  }
  
  }

.completed-task {
  text-decoration: line-through;
}
::ng-deep .swiper-button-prev:after,
::ng-deep .swiper-button-next:after {
  display:none;
  font-size: 20px;
  padding-bottom: 220px;
  
}

::ng-deep .swiper-pagination{
  position:relative;

}
::ng-deep .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  top: 160px;
  left: 0;
  width: 100%;
  bottom:0px;
}


@media (min-width: 500px) {
::ng-deep .swiper-button-prev:after,
::ng-deep .swiper-button-next:after {
  display: block !important;
  font-size: 25px;
}
::ng-deep .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  top: 200px;
  left: 0;
  width: 100%;
  bottom:0px;
}
}


