<ion-content [fullscreen]="true">

  <div class="flex-center">
   
      <ion-card shape="round">
       <!-- <ion-item><img src="../../assets/icon/icon.png" alt="logo" width="50" height="50"></ion-item> -->
        <ion-card-header>
          <div class="login-header">
            <div style="display: block;text-align: center; padding: 0 20px;">
              <ion-card-title class="ion-padding-top">
                Welcome in TaskFlow App!
              </ion-card-title>
              <ion-text class="ion-padding-top" color="">
                We are very excited to have you join the <ion-text color="success">family</ion-text>
              </ion-text>
            </div>
          </div>
        </ion-card-header>
          <ion-card-content>
              <ion-item>
                  <ion-input type="email" label="Email" labelPlacement="floating" placeholder=""></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="password" label="Password" labelPlacement="floating" placeholder=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" label="Confirm Password" labelPlacement="floating" placeholder=""></ion-input>
            </ion-item>
              <ion-button class="ion-padding-top" expand="block" shape="round" color="tertiary">Register</ion-button>
              <ion-text color="">
                You already have an account? 
              </ion-text>
                <ion-button fill="clear" expand="block" shape="round" color="tertiary">Log in</ion-button>
            
          </ion-card-content>
      </ion-card>
  </div>
</ion-content>