<ion-content [fullscreen]="true">
  <ion-refresher
    mode="ios"
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <div id="container" class="ion-margin-top">
      <strong>What's up, {{username}}</strong>
      <span class="sub-header">Your projects</span>
    </div>
  </ion-toolbar>

<div class="swiper-and-text-container">
  <div class="sub-header todays-tasks-header">
    <span class="sub-header">Today's tasks</span>
  </div>
  <div class="swiper-container">

    <swiper [config]="sliderConfig">
      
      <ng-template swiperSlide *ngFor="let project of projects" class="swiper-slide">
        <ion-card class="projects">
          <div class="card-container">
            <div class="projects-buttons purple">
              <ion-card-content >
                <span class="task-count">
                  {{ daysUntilDeadline(project.deadline) }} days left
                </span>
                <ion-card-title>
                  <span class="projects-name">{{ project.projectName }}</span>
                </ion-card-title>
              </ion-card-content>
              <div class="progress-container">
                <ion-progress-bar mode="ios" [value]="(tasksMap[project.id].completionRate) / 100"></ion-progress-bar>

                <ion-button class="corner-button" fill="clear" (click)="openProjectDetailsHomeModal(project)">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                  <span>See details</span>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-card>

        <ion-list lines="none" >
          <ion-item *ngFor="let task of tasksMap[project.id]?.tasks">
            <ion-checkbox [checked]="task.status === 'completed'" (click)="playCheckboxAnimation($event, task)" slot="start"></ion-checkbox>
            <ion-label [ngClass]="{'completed-task': task.status === 'completed'}">
              {{ task.taskName }}
            </ion-label>
          </ion-item>
        </ion-list>
        
        
        
        
      </ng-template>
  </swiper>
  </div>
 
</div>

  
  

 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToTasksAdmin()" tab="tasks">
          <ion-icon name="hourglass-outline"></ion-icon>
          <ion-label>Projects</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToAdminHomepage()" tab="admin-homepage">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToSettingsAdmin()" tab="settings">
          <ion-icon name="settings"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
