ion-tab-bar {
    --background: #ffffff;  /* White background */
    --color-selected: #488aff; /* Blue color for selected tab */
    --color: grey;  /* Grey color for unselected tabs */
    --mode: ios;
    padding-top: 5px; /* Padding at the top of the tab bar */
    border-top: 1px solid #e0e0e0;
}


ion-card-header {
    
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--ion-secondary-text-color);
    display: block;
    text-align: center; 
    padding: 0 20px;
}
ion-card-title{
    color: #243158;
}
ion-card-content{
    padding-top:50px;
    padding-bottom:50px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
ion-button{
    padding:5px;
    height:10px;
    --border-width:1px;
}
@media (max-width: 600px) {
    .ion-button {
      width:90%;
      padding-top:50%;
    }
}


